{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">Issue</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ issue.issue_type }} by {{ issue.issuer }}</h1>
          
            <div class="flex border-t border-gray-300 py-2">
                <span class="ml-auto text-gray-900">{{ issue.issue_detail }}</span>
            </div>
         
            <div class="flex">
              {% if not request.user.is_technician %}
              <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"><a href="{% url 'issues:issue-update' issue.pk %}">Edit</a></button>
              <button class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"><a href="{% url 'issues:issue-delete' issue.pk %}">Delete</a></button>
              {% endif %}
   
            
                
            </div>
        </div>
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
      </div>
    </div>
  </section>
{% endblock content %}