{% extends "base.html" %}

{% block content %}


<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{ issuer.user.first_name }} {{ issuer.user.last_name }} </h1>
      <h1 class="title-font sm:text-3xl text-2xl mb-4 font-medium text-gray-700">AnyDesk ID : {{ issuer.anydesk_id }}  </h1>
      <p class="mb-8 leading-relaxed">Joined as an Issuer on {{ issuer.user.date_joined }}</p>
      <p class="mb-8 leading">Email : {{ issuer.user.email }}</p>
        {% if request.user.is_superuser %}
        <div class="flex justify-center">
          <a  href ="#" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Update</a>
          <a href="{% url 'issuers:issuer-delete' issuer.pk %}" class="ml-4 inline-flex text-red-700 bg-red-100 border-0 py-2 px-6 focus:outline-none hover:bg-red-200 rounded text-lg">Delete</a>
        </div>

        {% endif %}
    </div>
  </div>
</section>



{% endblock content %}


