{% extends "base.html" %}


{%  block content %}

    <style>
        section {
            text-align: center;
        }
        h2 {
            margin-bottom: 20px;
        }
    </style>


    <section>
    <h2><b> Our Technicians are </b></h2>

    {% for technician in object_list %}
        <a href="{% url 'technicians:technician-detail' technician.pk %}">   <p> {{technician}} </p> </a>

    {% endfor %}
        <br>

    <a href="{% url 'technicians:technician-create' %}">
        <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Add Technician</button>
      </a>

    </section>

{%  endblock content %}